.nav{
   background-color: #17130A;
}


.nav__band h1{
   color: #ffff;
   font-weight: bold;
   font-size: 3rem;
}

.nav__band h1:hover{
   color: #C9B898;
   font-weight: bold;
}

.nav__link{
   color: #ffff;
   text-decoration: none;
   font-size: 1.2rem;
}

.nav__link:hover{
   color: #C9B898;
   font-weight: bold;
}

.nav__link:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #C9B898;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.nav__link:hover:after{
   transform: scaleX(1);
   transform-origin: bottom left;
}

.nav__input{
   background-color: transparent;
   width: 400px;
   border: 0;
   border-bottom: 2px solid #C9B898;

}

.nav__input:focus{
   background-color: transparent;
   color: #C9B898;
   outline: none;
}

.nav__search{
   background-color: transparent;
   border: 0;
}
.nav__search:hover,.nav__search:focus {
   background-color: #C9B898;
}