.card{
   width:  14rem;
   background-color: transparent;
   text-align: center;
   border-radius: 10px;
   text-align: center;
   margin: 5rem auto;

}

.card__text{
   height: 3rem;
   padding-top: 10px;
   line-height: 1px;
   background-color: #967959;
   border-top: #C9B898 solid 5px;
   color: #ffff;
}

.card__release{
   font-size: 10px;
}

.card__movie{
   font-size: 16px;
}

.card__header:hover{
   background-color:#967959;
   z-index: 1;
}

.overlay{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: #008CBA;
}

.card__like{
   position: absolute;
   bottom: 13px; 
   right: 12px;
   color: white;
}

.card__img{
   background-size: cover;
}




@media only screen and (max-width: 1000px) {

   .card{
      width:  10rem;
      background-color: transparent;
      text-align: center;
      border-radius: 10px;
      text-align: center;
      margin: 5rem auto;
   }
 }




