

.modalheader{
   background-color: #BDAD8E;
}

.modalheader__tile{
   text-align: center;
   color: white;
   justify-content: center;

}

.Modal__Body__Button{
   background-color: #BDAD8E;
   color: rgb(255, 255, 255);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border: none;
   width: 15rem;
   height: 3rem;
}

/* input style  */

.form__group{
   padding: 15px 0 0;
}

.form__field{
   border: 0;
   border-bottom: 2px solid #17130a7e;
   outline: none;
   font-size: 1.3rem;
   padding: 7px 0;
   color: #BDAD8E;
   background: transparent;
   transition: border-color 0.2s;
}
.form__field::placeholder{
   color: transparent;
}
.form__field-shown ~ .form__label{
   font-size: 1.3rem;
   cursor: text;
   top: 20px;
}

*:focus{
   outline: none;
}

.form__label {
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 1rem;
   color: #3e3e3c;
 }







.modal__footer{
   background-color: #BDAD8E;
   height: 50px;
}