.bgcontainer{
   background-color: #17130A;
   border-bottom: rgb(201, 184, 152) 2rem solid;
   box-shadow: rgba(215, 147, 20, 0.16) 0px 1px 4px;
   height: 20rem;
}

.container__search{
   /* background-color: #ffff; */
   height: 200px;
}

.container__header{
   background-color: #C9B898;
   margin: 0 10rem;
   position: relative;
   top: -20px;
}